[submodule "vendors/applications-rs"]
	path = vendors/applications-rs
	url = https://github.com/HuakunShen/applications-rs.git
[submodule "vendors/extensions"]
	path = vendors/extensions
	url = https://github.com/HuakunTech/JarvisExtensions.git