{
    "printWidth": 100,
    "tabWidth": 2,
    "trailingComma": "none",
    "semi": false,
    "useTabs": true,
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ]
}