---
import "@/styles/globals.css";
import "@/styles/themes.css";
import DefaultVue from "@/components/layouts/default.vue";
import Topbar from "@/components/Topbar.vue";
import Toaster from "@/components/ui/toast/Toaster.vue";
import { Toaster as SonnerToaster } from "@/components/ui/sonner";
import PostHog from "@/components/posthog.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!-- Theme -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <PostHog />
    <title>{title}</title>
  </head>
  <body>
    <Toaster client:only="vue" />
    <SonnerToaster client:only="vue" />
    <main class="h-screen">
      <div class="flex flex-col h-full">
        <Topbar client:only="vue" />
        <div class="grow overflow-auto flex flex-col">
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
