---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
// import CustomComponent from './CustomComponent.astro';
---

<StarlightPage
  frontmatter={{ title: "API docs" }}
  sidebar={[
    { label: "Home", href: "/" },
    {
      label: "Constellations",
      items: [
        { label: "Andromeda", href: "/andromeda/" },
        { label: "Orion", href: "/orion/", isCurrent: true },
        { label: "Ursa Minor", href: "/ursa-minor/", badge: "Stub" },
      ],
    },
  ]}
  hasSidebar={false}
  
>
  <p>This is a custom page with a custom component:</p>
</StarlightPage>
