---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
// import CustomComponent from './CustomComponent.astro';
---

<StarlightPage frontmatter={{ title: "API docs" }} hasSidebar={false}>
  <a href="https://docs.api.akun.sh/">API Docs</a>
  <div class="h-[80vh]">
    <iframe
      src="https://docs.api.akun.sh/"
      allow="fullscreen"
      class="w-full h-full"
      height="100%"></iframe>
  </div>
</StarlightPage>
