---
import {SystemInfoPermissionMap} from '@kksh/api/permissions'
---

<ul>
	{
		Object.entries(SystemInfoPermissionMap).map(([methodName, permissions]) => (
			<li>
				<code class="">{methodName}</code>:
				<span class="space-x-1">
					{permissions.map((p) => (
						<code>{p}</code><span> </span>
					))}
				</span>
			</li>
		))
	}
</ul>
