---
import DefaultLayout from "@/layouts/Default.astro";
---

<DefaultLayout title="Link List">
  <ul class="container">
    <li class=""><a href="./workflow-editor">Workflow Editor</a></li>
    <li class=""><a href="./settings">Settings</a></li>
  </ul>
</DefaultLayout>
